html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", serif;
  font-size: 16px;
  font-size: calc(0.5vw + 12px);
  color: #2b2b2b;
  background-color: #fffaf5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main_nav {
  position: fixed;
  width: 100vw;
  background: #fffaf5;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100px;
  z-index: 100;
}

.main_nav.active {
  height: 100vh;
  width: 100vw;
  z-index: 3;
  position: fixed;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #6d3838;
  color: #fffaf5;
}

.nav_links {
  margin-right: 80px;
  letter-spacing: 0.8px;
  padding-bottom: 4px;
  font-size: 0.75em;
}

.nav_links.active {
  display: inline-block;
  font-size: 1.3em;
  margin: 30px 0 15vh 0;
  padding: 0;
  letter-spacing: 4px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.nav_links.active:hover {
  opacity: 0.6;
}

.nav_links::before {
  content: "";
  position: relative;
  right: 15px;
  top: 15px;
  display: inline-block;
  height: 35px;
  border-left: 5px solid #6d3838;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav_links:hover::before,
.nav_links:active::before,
.act::before {
  height: 70px;
  border-color: rgba(35, 54, 40, 0.63);
}

#logo {
  margin: 0 auto 0 50px;
  font-size: 1.8em;
}

#logo.active {
  margin-top: 37px;
  margin-left: 50px;
}

#mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  right: 55px;
  top: 40px;
  height: 23px;
  display: none;
}

#mobile div {
  height: 3px;
  width: 28px;
  background-color: #2b2b2b;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobile.active div {
  background-color: #fffaf5;
  width: 34px;
}

#mobile.active #first {
  -webkit-transform: translate(-5px, 10px) rotate(45deg);
          transform: translate(-5px, 10px) rotate(45deg);
}

#mobile.active #second {
  display: none;
}

#mobile.active #third {
  -webkit-transform: translate(-5px, -10px) rotate(-45deg);
          transform: translate(-5px, -10px) rotate(-45deg);
}

h1 {
  line-height: 3;
  letter-spacing: 1.5px;
  font-size: 1.6em;
  color: #fffaf5;
  font-weight: 200;
}

#about,
#work,
#contact {
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#about {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#work {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

#contact {
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateX(990px);
            transform: translateX(990px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateX(990px);
            transform: translateX(990px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

#hero_img {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 980px) {
  h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 850px) {
  #mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav_links::before {
    display: none;
  }
  .nav_links {
    display: none;
  }
  #about {
    margin-top: 90px;
  }
}

@media (min-width: 1700px) {
  .main_nav {
    height: 140px;
  }
  .nav_links {
    font-size: 0.9em;
    margin-right: 140px;
  }
}

#img_container {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

#text_container {
  background-color: #e3c79d;
  color: #424242;
  height: 85vh;
  padding: 20px 0 20px 20px;
  line-height: 1.8;
  font-family: "Monsterrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 0.9em;
}

#text_container h1 {
  color: inherit;
  margin-bottom: 10vh;
  font-size: 1.5em;
  font-weight: 500;
}

#inner {
  max-height: 500px;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  font-weight: 500;
  font-size: 1.1em;
}

img {
  width: 100%;
  display: block;
}

@media (min-width: 840px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  #img_container,
  #text_container {
    width: 50%;
  }
  #img_container {
    height: 100vh;
  }
  #text_container {
    height: 100vh;
    position: relative;
  }
  #text_container > div {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=contact.css.map */