html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", serif;
  font-size: 16px;
  font-size: calc(0.5vw + 12px);
  color: #2b2b2b;
  background-color: #fffaf5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main_nav {
  position: fixed;
  width: 100vw;
  background: #fffaf5;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100px;
  z-index: 100;
}

.main_nav.active {
  height: 100vh;
  width: 100vw;
  z-index: 3;
  position: fixed;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #6d3838;
  color: #fffaf5;
}

.nav_links {
  margin-right: 80px;
  letter-spacing: 0.8px;
  padding-bottom: 4px;
  font-size: 0.75em;
}

.nav_links.active {
  display: inline-block;
  font-size: 1.3em;
  margin: 30px 0 15vh 0;
  padding: 0;
  letter-spacing: 4px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.nav_links.active:hover {
  opacity: 0.6;
}

.nav_links::before {
  content: "";
  position: relative;
  right: 15px;
  top: 15px;
  display: inline-block;
  height: 35px;
  border-left: 5px solid #6d3838;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav_links:hover::before,
.nav_links:active::before,
.act::before {
  height: 70px;
  border-color: rgba(35, 54, 40, 0.63);
}

#logo {
  margin: 0 auto 0 50px;
  font-size: 1.8em;
}

#logo.active {
  margin-top: 37px;
  margin-left: 50px;
}

#mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  right: 55px;
  top: 40px;
  height: 23px;
  display: none;
}

#mobile div {
  height: 3px;
  width: 28px;
  background-color: #2b2b2b;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobile.active div {
  background-color: #fffaf5;
  width: 34px;
}

#mobile.active #first {
  -webkit-transform: translate(-5px, 10px) rotate(45deg);
          transform: translate(-5px, 10px) rotate(45deg);
}

#mobile.active #second {
  display: none;
}

#mobile.active #third {
  -webkit-transform: translate(-5px, -10px) rotate(-45deg);
          transform: translate(-5px, -10px) rotate(-45deg);
}

h1 {
  line-height: 3;
  letter-spacing: 1.5px;
  font-size: 1.6em;
  color: #fffaf5;
  font-weight: 200;
}

#about,
#work,
#contact {
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#about {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#work {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

#contact {
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateX(990px);
            transform: translateX(990px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateX(990px);
            transform: translateX(990px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

#hero_img {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 980px) {
  h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 850px) {
  #mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav_links::before {
    display: none;
  }
  .nav_links {
    display: none;
  }
  #about {
    margin-top: 90px;
  }
}

@media (min-width: 1700px) {
  .main_nav {
    height: 140px;
  }
  .nav_links {
    font-size: 0.9em;
    margin-right: 140px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 95vh;
  width: 100vw;
}

#hero_txt {
  font-family: "Monsterrat", sans-serif;
  position: absolute;
  left: 25%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  width: 30vw;
  height: 30vw;
  padding: 30px 0 0 20px;
  max-width: 600px;
  max-height: 600px;
  background-color: rgba(35, 54, 40, 0.63);
  border: 10px solid #fffaf5;
}

#hero_img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 5vw;
  grid-template-columns: 1fr 1fr 5vw;
  margin-top: 90px;
  width: 75%;
  height: 90%;
  max-height: 90%;
  max-width: 1300px;
  overflow: hidden;
}

#hero_img #cover {
  width: 100%;
  height: 5px;
  background: #fffaf5;
  position: absolute;
  z-index: 2;
}

#hero_img img {
  width: 100%;
  display: block;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (8vw)[24];
      grid-template-rows: repeat(24, 8vw);
  letter-spacing: 0.4px;
  color: #4d4c4c;
}

.content > div {
  background: #fffaf5;
  position: relative;
}

.content a:hover {
  opacity: 0.7;
}

.content h2 {
  opacity: 0;
  padding-top: 40px;
  font-weight: 100;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 20px;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.content h3 {
  opacity: 0;
  font-weight: 100;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  font-size: 20px;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.content img {
  width: 100%;
  max-height: 80vh;
}

.theme,
.client {
  font-size: 1.6em;
  font-weight: 300;
}

.for {
  font-size: 1em;
  font-weight: 100;
}

#right_frame {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7/11;
  -ms-grid-row: 4;
  -ms-grid-row-span: 5;
  grid-row: 4/9;
  background-color: #d9c5b9;
}

#content_right_img {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  grid-row: 5/10;
}

#content_right_img .dscription {
  left: -10%;
}

#content_txt,
#content_txt_btm {
  line-height: 2;
}

#content_txt {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

#content_txt_btm {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 18;
  -ms-grid-row-span: 2;
  grid-row: 18/20;
}

#left_frame {
  border-right: 7px solid #e3c79d;
  border-bottom: 7px solid #e3c79d;
  border-radius: 5px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 10;
  -ms-grid-row-span: 6;
  grid-row: 10/16;
}

#content_left_img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 9;
  -ms-grid-row-span: 5;
  grid-row: 9/14;
}

#content_left_img .dscription {
  right: -35%;
}

#content_bottom_right {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  -ms-grid-row: 16;
  -ms-grid-row-span: 5;
  grid-row: 16/21;
}

#content_bottom_right img {
  opacity: 0.7;
}

#content_bottom_right .dscription {
  right: -30%;
}

#content_bottom_left {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
  -ms-grid-row: 18;
  -ms-grid-row-span: 4;
  grid-row: 18/22;
  z-index: 2;
}

#content_bottom_left .dscription {
  left: -20%;
}

.dscription {
  opacity: 0;
  width: 50%;
  height: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  color: black;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.dscription span {
  display: block;
  line-height: 3;
}

footer {
  position: relative;
  font-size: 13px;
  height: 270px;
  width: 100vw;
  background-color: rgba(35, 54, 40, 0.63);
  color: #fffaf5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 20px;
  line-height: 3;
  font-family: "Montserrat", sans-serif;
}

footer h4 {
  letter-spacing: 1px;
  font-size: 1.1em;
  margin-bottom: 15px;
}

footer div {
  letter-spacing: 0.5px;
  border-left: 1px solid #fffaf5;
  padding: 20px 20px 0 20px;
}

#info a {
  display: block;
}

#social a {
  display: inline-block;
  text-align: center;
  width: auto;
  height: 3vh;
  max-height: 28px;
  margin: 10px 0.5vw 0 0;
}

#social a img {
  height: 100%;
  width: auto;
}

#fb {
  padding-left: 5px;
}

@media (max-width: 980px) {
  #hero_img {
    width: 100vw;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #hero_txt {
    display: none;
  }
  .content h2,
  .content h3 {
    font-size: 16px;
  }
  .theme,
  .client {
    font-size: 1.2em;
  }
  .for {
    font-size: 0.8em;
  }
}

@media (max-width: 840px) {
  #left_frame {
    display: none;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .content img {
    opacity: 0.7;
    width: 100%;
    max-height: 100%;
    display: block;
  }
  .content div {
    max-height: 90vh;
    overflow: hidden;
  }
  .content h2 {
    text-align: center;
  }
  .content h3 {
    padding: 10px 0 40px 0;
    text-align: center;
  }
  #content_bottom_right .dscription,
  #content_right_img .dscription,
  #content_left_img .dscription,
  #content_bottom_left .dscription {
    right: 0%;
    left: 50%;
  }
  #content_txt,
  #content_txt_btm {
    padding: 70px 40px;
    text-align: center;
  }
  footer {
    font-size: 12px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  footer div {
    border: none;
  }
  footer h4 {
    width: 30%;
    border-bottom: 1px solid #fffaf5;
  }
}
/*# sourceMappingURL=main.css.map */